.f14{font-size:14px;}
.f16{font-size:16px;}
.f18{font-size:18px;}
.f20{font-size:20px;}
.f24{font-size:24px;}
.f30{font-size:30px;}
.mt5{margin-top:5px;}
.mt10{margin-top:10px;}
.mt15{margin-top:15px;}
.mt20{margin-top:20px;}
.mt30{margin-top:30px;}
.certificateRequest{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100wh;
    height: 100vh;
    background-color: white !important;
    .card{
        border: 1px solid rgba(138, 137, 137, 0.445);
        border-radius: 5px;
        width: 800px;
        height: 200px;
    }
    .button{
        border:1px solid transparent !important;
        background-color: #10C786 !important;
        color: white !important;
    }
    .button:hover{
        border:1px solid transparent !important;
        background-color: rgb(16, 182, 124) !important;
        color: white !important;
    }
}
.eid{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    height: 100vh;
    background-color: white !important;
}
.eidIdentify{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction:row;
    width: 100wh;
    .grey{
        color: '#8E8E8E';
    }
    .card{
        border: 1px solid rgba(138, 137, 137, 0.445);
        border-radius: 10px;
        width: 500px;
        height: 500px;
    }
    .card:hover{
        border: 1px solid #10C786;
    }
    img{
        filter: saturate(.1);
    }
    .card:hover h1{
        color:#10C786;
    }
    .card:hover img{
        filter: saturate(1);
    }
    .button{
        border-color: #10C786 !important;
        color: #10C786 !important;
    }
    .card:hover button{
        border-color: #10C786 !important;
        background-color: #10C786 !important;
        color: #fff !important;
    }
}

