.certificateRequest{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100wh;
    height: 100vh;
    .card{
        border: 1px solid rgba(138, 137, 137, 0.445);
        border-radius: 4px;
        width: 800px;
        height: 200px;
    }
    .f14{font-size:14px;}
    .f16{font-size:16px;}
    .f18{font-size:18px;}
    .f20{font-size:20px;}
    .f24{font-size:24px;}
    .f30{font-size:30px;}
    .mt5{margin-top:5px;}
    .mt10{margin-top:10px;}
    .mt15{margin-top:15px;}
    .mt20{margin-top:20px;}
    .mt30{margin-top:30px;}
}